@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    .top-navigation {
        height: 35px;
        background-color: black;

        .top-navigation-content {
            float: right;
            display: inline;
            margin-top: 7px;
            // margin-right: 15px;

            a {
                padding: 9px;
                text-decoration: none;
                font-size: 0.85rem;
                font-family: 'poppins', sans-serif;
                color: #fff;
            }

            a:hover {
                color: #ff4040;
                transition: 0.3s ease-in-out;
            }
        }
    }

    .main-navigation-container {
        display: block;
        height: 55px;
        width: 100%;
        background-color: #fff;

        .navigation-content {
            max-width: 1200px;
            margin: 0 auto;
            .navigation-left {
                float: left;
                margin-top: 18px;

                a {
                    padding: 8px;

                    img {
                        width: 100px;
                    }
                }
            }

            .navigation-right {
                float: right;
                margin-top: 11px;

                a {
                    padding: 8px;
                    text-decoration: none;
                    font-size: 0.97rem;
                    font-family: 'Quicksand', sans-serif;
                    color: #a8a8a8be;
                }

                a:hover {
                    color: #363535;
                    transition: 0.4s ease-in-out;
                }

                .desktop {
                    display: none;
                }

                .mobile {
                    font-size: 1.7rem;
                    color: #363535;
                }
            }

        }
    }
}

main {
    width: 100%;
}

@media (min-width: 500px) {
    header {
        .main-navigation-container {
            height: 75px;

            .navigation-content {

                .navigation-left {
                    margin-top: 15px;

                    a {
                        padding: 9px;
                        font-size: 2rem;

                        img {
                            width: 130px;
                        }
                    }
                }

                .navigation-right {
                    margin-top: 25px;

                    a {
                        padding: 9px;
                        font-size: 1.05rem;
                    }

                    .desktop {
                        display: inline;
                    }

                    .mobile {
                        display: none;
                    }
                }

            }
        }
    }
}